@tailwind base;

@tailwind components;


/*
  // Own Css Mobile
*/
html{
  overflow: hidden;
}

.main{
    @apply p-5;
  }

/*
//Background 
*/
.background{
  background-image: url('./../img/bg-sm.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/*
//Profile
*/
.profile{
  @apply text-center mb-5;
}
/*
//Profile Logo
*/
.profile-image{
  position: relative;
  @apply rounded-full border shadow h-56 w-56 mx-auto bg-white;
}
.profile-image img{
  position: absolute;
  @apply h-56 w-56;
  top: 50%;
  left: 53%;
  transform: translate(-50%,-50%);
}
/*
//Profile Text
*/
.profile-text{
  @apply text-white
}
.profile-text h1{
  @apply text-3xl
}
.profile-text p{
  @apply text-lg
}
/*
// Form
*/
.form{
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4
}
/*
// Form Presentation
*/
.form-presentation{
  @apply text-center mb-3;
}
.form-presentation h2{
  @apply text-xl font-bold mb-2;
}


/* 
//Login Input 
*/
.login-input{
  @apply bg-gray-100 appearance-none border rounded py-2 px-3 text-gray-700 w-full;
}
.login-input::placeholder{
  color: #718096;
}
.login-input:focus{
  @apply outline-none shadow-outline;
}
/* Login Button */
.login-button{
  @apply text-base font-semibold text-white py-2 px-4 rounded-full bg-tertiary;
}
.login-button:hover{
  @apply bg-teal-500;
}
/*
  // Own Css Desktop
*/
@screen md{
  .background{
    background-image:url('./../img/bg.png');
  }
  .main{
    @apply p-0 mb-0;
  }
  /*
  //Profile
  */
  .profile{
    @apply w-1/2 my-auto;
  }
  .profile-image{
    @apply h-64 w-64;
  }
  .profile-image img{
    @apply h-64 w-64;
  }
  /*
  //Profile Text
  */
  .profile-text{
    @apply text-white
  }
  .profile-text h1{
    @apply text-4xl
  }
  .profile-text p{
    @apply text-2xl
  }

  /*
  *Form
  */
  .form{
    /* @apply mb-0 w-1/2 h-screen; */
    @apply mr-10
  }
  .form-container{
    @apply w-1/2 my-auto;
  }
  .form-presentation{
    @apply text-center mb-10;
  }
  .form-presentation h2{
    @apply text-3xl font-bold mb-5;
  }
  .form-presentation p{
    @apply text-xl mb-5;
  }
}





/*bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight placeholder-gray-600*/


@tailwind utilities;

